numpy==2.2.6
xarray==2026.1.0
pandas==2.2.3
scipy==1.17.0
matplotlib==3.10.3
cartopy==0.24.1
scikit-learn==1.8.0
ipykernel==7.2.0
xskillscore==0.0.29
seaborn==0.13.2
regionmask==0.13.0
netcdf4==1.7.4
ecmwf-opendata==0.3.26
cdsapi==0.7.7
cfgrib==0.9.15.1
tqdm==4.67.3
